/*TABLET */
@media (max-width: 960px) {

    main {
        display: flex;
        flex-direction: column;
    }
    .devices {
        display: none;
    }
    footer {
       flex-direction: column;
       height: 300px;
       padding: 35px 0px;
       gap: 50px;
    }
}